body {

	background-color: transparent;
	background-position: 0% 0%;
	background-repeat: repeat;
	background-attachment:scroll;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 12px;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
}
.orangeColor {color: #FF9900}
.greenColor {color: #006600}
.greyColor {color: #666666}
.liteGreyColor {color: #7C7C7C}
.centerStuff {
	text-align: center;
}
.boldStuff {
	font-weight: bold;
}
.textsize9 {font-size: 9px}
.textsize10 {font-size: 10px}
.textsize16 {font-size: 16px;}
.formFields {
	background-color:#E7F3FE;
	color:#000;
}

/*--------- Header Buttons Style -------------- */
.headerBtns{
	margin-bottom:4px;
}
.headerBtns a{
	background-image:url('button_back.jpg');
	border:#999 1px solid;
	color:#333;
	text-decoration:none;
	padding:8px;
	border-radius:15px;
}
.headerBtns a:link{
	color:#333;
}
.headerBtns a:hover {
	background-image:url(headerBtnsBGover.jpg);
	border:#666 1px solid;
	text-decoration:none;
}
.headerBtns a:visited {
	color:#333;
}
/*--------- Main Body table styles -------------- */
.mainBodyTable {
	background-color:white; 
	width:1000px;
}

#navigation li a {
	display: block;
	color: black;
	font-size:16px;
	/* [disabled]font-size: 1.6em; */

}


#navigation li a:hover {
        margin-top: 2px;
		color:#00F;
		text-decoration: underline;
}
div.imageSub { position: relative; }
      div.imageSub img { z-index: 1; }
      div.imageSub div {
        position: absolute;
        left: 0%;
        right: 0%;
        bottom: 0;
        padding: 4px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        overflow: hidden;
      }
      div.imageSub div.blackbg {
        z-index: 2;
        background-color: #000;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        opacity: 0.5;
      }
      div.imageSub div.label {
        z-index: 3;
        color: white;
      }